<!DOCTYPE html>
<html>
<head>
    <title>Grace Le's Portfolio</title>
    <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> 
</head>
<body>
    <header>
        <nav>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <h1>Grace Le | Computer Science Portfolio</h1>
    <section id="about">
        <h2>About Me</h2>
        <ol>
            <li>name, education, and some basic intro stuff</li>
            <li>resume pdf with some smooth effects that highlight areas with little additional text bubbles that appear</li>
        </ol>
    </section>
    <section id="projects">
        <h2>Projects</h2>
        <h3>Project #1</h3>
        <p>description, a smooth carousel photo, and highlights</p>
        <h3>Project #2</h3>
        <p>description and a smooth carousel photo, and highlights</p>
        <h3>Project #3</h3>
        <p>description and a smooth carousel photo, and highlights</p>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <ol>
            <li>email</li>
            <li>phone number</li>
            <li>github link</li>
        </ol>
    </section>
</body>
</html>