<!DOCTYPE html>
<html>
<head>
    <title>Grace's Portfolio: Resume</title>
    <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
    <audio src="../resources/amongus.mp3" autoplay>
        <p>If you are reading this, it is because your browser does not support the audio element.</p>
        <embed src="../resources/amongus.mp3" width="180" height="90" loop="false" autostart="false" hidden="true" />
    </audio>
</head>
<body>
    <h1>Resume</h1>
    <a href="index.html"><button>Home</button></a>
    <a href="aboutme.html"><button>About Me</button></a>
    <a href="resume.html"><button>Resume</button></a>
    <a href="showcase.html"><button>Showcase</button></a>
    <a href="contact.html"><button>Contact</button></a>
</body>
</html>