<!DOCTYPE html>
<html>
<head>
    <title>Grace's Portfolio: Showcase</title>
    <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
</head>
<body>
    <h1>Showcase</h1>
    <a href="index.html"><button>Home</button></a>
    <a href="aboutme.html"><button>About Me</button></a>
    <a href="resume.html"><button>Resume</button></a>
    <a href="showcase.html"><button>Showcase</button></a>
    <a href="contact.html"><button>Contact</button></a>
    <h2>Project 1</h2>
    <p>Details</p>
    <h2>Project 2</h2>
    <p>Details</p>
    <h2>Project 3</h2>
    <p>Details</p>
</body>
</html>